:root{
  --main-font:'Montserrat', sans-serif;
  --album-background:rgb(20, 25, 34);
  --media-control:rgb(40, 40, 40);
  --gray-default:rgb(110, 110, 110);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: white;
}

ul li {
  list-style: none;
}

/* DEBUG */
.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

/* /DEBUG */


/* UTILITY */
.d-flex{
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.h-100 {
  height: 100%;
} 

.btn {
  padding:6px 20px ;
  border:1px solid white;
  border-radius: 15px;
  position: absolute;
  right: 20px;
  top: 30%;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.divider {
  margin: 5px 0 5px 0;
  border: 1px solid white;
}
.bar {
  border: 2px solid gray;
  border-radius: 10px;
}

.hide {
  display: none;
}

.effects {
  position: absolute;
  top: 0;
  filter: brightness(0.5);
}

.card:hover .hide {
  display: block;
  cursor: pointer;
}

/* TOP CONTAINER  */

.main-container {
  height: calc(100vh - 90px);
  overflow: hidden;
}


/* SIDE BAR  */
.side-bar {
  background-color: black;
  width: 225px;
  height: 100%;
  min-height: 450px;
  flex-shrink: 0;
}

.side-bar .side-top {
  height: calc(100% - 80px);
  color: var(--gray-default);
}


#desk-logo img {
  height: 85px;
  width: 70%;

}

#mobile-logo {
  display: none;
}

.side-top img {
  width: 20px;
}

.playlist-section {
  height: calc(100% - 170px);
}

#playlist {
  height: 80%;
  overflow-y: auto;
  background-color: aqua;
}

#playlist ul li {
  padding-bottom: 20px;
}

/* SIDE FOOTER */

.side-bar .side-footer {
  height:80px;
  justify-content: end;
}

.side-footer .side-foot-content img {
  width: 20px;
}

/* FIXED BAR CTA */
.fixed-bar {
  position: fixed;
  right: 0;
  text-transform: uppercase;
  width: calc(100% - 225px);
  height: 90px;
  color:white;
  background-color: rgba(0, 0, 0, 0.472);
  z-index: 999;
}

/* ALBUM CONTAINER  */
.album-container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  background-color: var(--album-background);
}

.album-menu ul {
  text-align: center;
}

.album-menu li {
  display: inline-block;
  position: relative;
  color: rgb(125, 127, 132);
  text-transform: uppercase;
  font-weight: 600;
  font-size: .6rem;
  padding: 10px 20px 4px 20px;
}

.album-menu li:first-child:after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 0;
  width: 20%;
  height: 1px;
  border-bottom: 2px solid rgb(173, 255, 47);
}

.col {
  width: calc(100% / 6);
  padding: 5px;
  text-align: center;
}

.col .card {
  position: relative;
}

.col .card img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.card.popular img {
  border-radius: 50%;
}

.card h3 {
  padding-top: 10px;
}
.card .hide i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

/* MEDIA CONTROL BAR */
.media-control-bar {
  background-color: var(--media-control);
  height: 90px;
}

.actual-song  img {
  height: 50%;
}

.player {
  width: 40%;
}

.music-time{
  width: 100%;
}

.foward {
  width: 50%;
}
/* MEDIA BREAKPOINTS */

@media screen and (max-width:1100px) {
  .col {
    width: calc(100% / 4);
  }
}

@media screen and (max-width:700px) {
  .col {
    width: calc(100% / 2);
  }
}


@media screen and (max-width:600px) {
  .side-bar {
    width: 50px;
  }
  .divider {
    display: none;
  }

  #desk-logo {
    display: none;
  }

  #mobile-logo {
    display: block;
  }

  .mobile-hidden {
    display: none;
  }

  .fixed-bar {
    width: calc(100% - 50px);
  }
}