:root{
  --main-font:'Montserrat', sans-serif;
  --album-background:rgb(20, 25, 34);
  --media-control:rgb(40, 40, 40);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

ul li {
  list-style: none;
}

/* DEBUG */
.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

/* /DEBUG */


/* UTILITY */
.d-flex{
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

/* CONTAINER */

.main-container {
  height: calc(100vh - 90px);
}

.media-control-bar {
  background-color: var(--media-control);
  height: 90px;
}

/* SIDE BAR  */
.side-bar {
  background-color: black;
  width: 225px;
  height: 100%;
  flex-shrink: 0;
}

.side-bar .side-top {
  height: calc(100% - 90px);
}

.side-bar .side-footer {
  height:90px;
}



.fixed-bar {
  width: calc(100% - 225px);
  height: 90px;
  position: fixed;
  right: 0;
}

#playlist {
  height: calc(100% - 174px);
  overflow-y: auto;
  padding: 10px;
  background-color: aqua;
}

#playlist ul li {
  padding-bottom: 20px;
}

/* ALBUM CONTAINER  */
.album-container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  background-color: var(--album-background);
}

.col {
  width: calc(100% / 6);
  padding: 5px;
  text-align: center;
}

.col .card img {
  width: 100%;
  object-fit: cover;
}

/* MEDIA BREAKPOINTS */

@media screen and (max-width:1100px) {
  .col {
    width: calc(100% / 4);
  }
}

@media screen and (max-width:700px) {
  .col {
    width: calc(100% / 2);
  }
}


@media screen and (max-width:600px) {
 
}