:root{
  --main-font:'Montserrat', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEBUG */
.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

/* /DEBUG */


/* UTILITY */
.d-flex{
  display: flex;
}


/* CONTAINER */

.main-container {
  height: calc(100vh - 90px);
}

.media-control-bar {
  height: 90px;
}

.side-bar {
  width: 225px;
  height: 100%;
  flex-shrink: 0;
}

.fixed-bar {
  width: calc(100% - 225px);
  height: 40px;
  position: fixed;
  right: 0;
}

.album-container {
  width: 100%;
  height: 100%;
}


/* MEDIA BREAKPOINTS */

@media screen and (max-width:1100px) {
  
}