:root{
  --main-font:'Montserrat', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* DEBUG */
.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

/* /DEBUG */


/* UTILITY */
.d-flex{
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

/* CONTAINER */

.main-container {
  height: calc(100vh - 90px);
}

.media-control-bar {
  height: 90px;
}

.side-bar {
  width: 225px;
  height: 100%;
  flex-shrink: 0;
}

.fixed-bar {
  width: calc(100% - 225px);
  height: 90px;
  position: fixed;
  right: 0;
}

.album-container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-top: 90px;
}

.col {
  width: calc(100% / 6);
  padding: 3px;
}

.col .card img {
  width: 100%;
  object-fit: cover;
}

/* MEDIA BREAKPOINTS */

@media screen and (max-width:1100px) {
  .col {
    width: calc(100% / 4);
  }
}

@media screen and (max-width:700px) {
  .col {
    width: calc(100% / 2);
  }
}


@media screen and (max-width:600px) {
 
}