:root{
  --main-font:'Montserrat', sans-serif;
  --album-background:rgb(20, 25, 34);
  --media-control:rgb(40, 40, 40);
  --gray-default:rgb(110, 110, 110);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: white;
}

a {
  color: var(--gray-default);
  text-decoration:none;
  display: inline-block;
}

a:hover,#new-playlist span:hover,
.active {
  filter: brightness(3);
  cursor: pointer;
}

ul li {
  list-style: none;
}

i, 
.col h5, 
.col h3,
.side-top img  {
  cursor: pointer;
}

/* DEBUG */
.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

/* /DEBUG */


/* UTILITY */
.d-flex{
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.h-100 {
  height: 100%;
} 

.btn {
  font-size: .8rem;
  padding:8px 20px ;
  border:1px solid white;
  border-radius: 15px;
  position: absolute;
  right: 20px;
  top: 30%;
}

.btn:hover, .player-comand i:nth-child(3):hover {
  cursor: pointer;
  transform: scale(1.1);
}

.divider {
  margin: 5px 0 10px 0;
  border: 1px solid var(--gray-default);
  width: 85%;
  align-self: center;
}

.bar {
  border: 3px solid gray;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

.advancement {
  border: 3px solid white;
  border-radius: 10px;
  position: absolute;
  left: -3px;
  width: 30%;
  transform: translate(0,-50%);
}

.bar:hover .advancement {
  border: 3px solid rgb(173, 255, 47);

}

.hide {
  display: none;
}

.effects {
  position: absolute;
  top: 0;
  filter: brightness(0.5);
}

.col:hover .hide {
  display: block;
  cursor: pointer;
}

ul li img  {
  filter: contrast(0);
}


/* TOP CONTAINER  */

.main-container {
  height: calc(100vh - 90px);
  overflow: hidden;
}


/* SIDE BAR  */
.side-bar {
  background-color: black;
  width: 225px;
  height: 100%;
  min-height: 450px;
  flex-shrink: 0;
  text-transform: capitalize;
}


.side-bar .side-top {
  height: calc(100% - 80px);
  color: var(--gray-default);
}

.side-bar a,
#new-playlist {
  padding-left: 15px;
}


#desk-logo img {
  height: 85px;
  width: 70%;
  margin-left: 15px;
}

#mobile-logo {
  display: none;
}

.side-top img {
  width: 20px;
  vertical-align: middle;
}

.side-top ul li {
  padding-bottom: 10px;
}

.active {
  border-left: 3px solid rgb(173, 255, 47);
}

.playlist-section {
  height: calc(100% - 170px);
  overflow: hidden;
}
.playlist-section h4 {
  color: white;
  text-transform: uppercase;
  padding: 10px 0 10px 15px;
}

#playlist {
  height: 72%;
  overflow-y: auto;
}


#new-playlist i {
  color: black;
  background-color: gray;
  padding: 8px 10px;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

#playlist ul li:first-child {
  padding-top: 15px;
}

#playlist ul li {
  padding-bottom: 10px;
  font-size: .8rem;
}

/* SIDE FOOTER */

.side-bar .side-footer {
  height:80px;
  justify-content: end;
}


.side-footer .download img {
  width: 15px;
  margin-right: 5px;
  filter: brightness(0.5);
}

.side-footer #log-profile img {
  width: 20px;
  height: 20px;
  margin: 0 5px 5px 15px;
  background-color: var(--gray-default);
  border-radius: 50%;
  overflow: hidden;
}

.side-footer .download {
  font-size: .8rem;
}

/* FIXED BAR CTA */
.fixed-bar {
  position: fixed;
  right: 0;
  text-transform: uppercase;
  width: calc(100% - 225px);
  height: 90px;
  color:white;
  background-color: rgba(0, 0, 0, 0.472);
  z-index: 999;
}

/* ALBUM CONTAINER  */
.album-container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: var(--album-background);
}

.album-menu ul {
  text-align: center;
}

.album-menu li {
  display: inline-block;
  position: relative;
  color: rgb(125, 127, 132);
  text-transform: uppercase;
  font-weight: 600;
  font-size: .6rem;
  padding: 10px 20px 4px 20px;
}

.album-menu li:active:after,
.album-menu li:first-child:after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 0;
  width: 20%;
  height: 1px;
  border-bottom: 2px solid rgb(173, 255, 47);
}

.album-section-title {
  text-transform: capitalize;
  padding: 20px 0 0 10px;
}

.row {
  padding-top:10px;
}

.col {
  width: calc(100% / 6);
  height: 100%;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
}

.col .card {
  position: relative;
}

.col > h3 {
  font-size: 1rem;
  padding:15px 0 7px 0 ;
}

.col > h5 {
  color: var(--gray-default);
  font-size: .7rem;
}

.suggestion {
  color: var(--gray-default);
  padding: 10px 0 0 10px;
  text-transform: capitalize;
}

.col .card img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.card.popular img {
  border-radius: 50%;
}

.card h3 {
  padding-top: 10px;
}
.card .hide i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

/* MEDIA CONTROL BAR */
.media-control-bar {
  background-color: var(--media-control);
  height: 90px;
}

.song {
  margin-left: 10px;
  text-transform: capitalize;
}

.song .actual-title {
  margin: 0 15px 0 10px;
}

.actual-song  img {
  height: 50%;
}

.like-folder {
  gap: 20px;
  color: var(--gray-default);
}

.player {
  width: 40%;
}

.player-comand *:not(:nth-child(3)) {
  font-size: 1.1rem;
  margin-right:20px;
}

.player-comand i:nth-child(3) {
  font-size: 1.9rem;
  margin: 0 30px 0 10px;
}

.music-time{
  margin-top: 8px;
  width: 100%;
  font-size: .7rem;
}

#time {
  margin-right: 10px;
}

#remaining-time {
  margin-left: 10px;
}

.foward {
  width: 100%;
  position: relative;
}

.player-volume i {
  margin-right: 15px;
  font-size: .7rem;
}

.volume  {
  width: 80px;
  position: relative;
  margin-right: 10px;
}
/* MEDIA BREAKPOINTS */

@media screen and (max-width:1100px) {
  .col {
    width: calc(100% / 4);
  }
}

@media screen and (max-width:700px) {
  .col {
    width: calc(100% / 2);
  }
}


@media screen and (max-width:600px) {
  .side-bar {
    width: 50px;
  }

  .side-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .divider {
    display: none;
  }

  #desk-logo {
    display: none;
  }

  #mobile-logo {
    display: block;
  }

  .mobile-hidden {
    display: none;
  }

  .fixed-bar {
    width: calc(100% - 50px);
  }
  
  .like-folder {
    flex-wrap: wrap;
    gap:8px
  }
}